.content-centre{
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.full-width{
    width: 100%;
}

.full-height{
    height: 100vh;
}

.yellow{
    color: #fbb765;
}

.green{
    color: #093535;
}

.bgGreen{
    background-color: #093535;
}

.bgYellow{
    background-color: #fbb765;
}